*{
    padding: 0;
    margin: 0;
}
header{
    background-color: #806653;
}
h1{
    background-color: #806653;
    color: white;
}
body{
	background-color: #D9BAA3;
}
footer{
    background-color: #806653;
    color: white;
    margin-top: 160px;
    font-size: 22px;
    text-align: center;
}
.lista{
    border: 2px solid black;
    width: 1200px;
    height: 150px;
    margin-top: 60px;
    background-color: white;
}
.titulo{
    text-align: left;
    margin-top: 30px;
    margin-left: 40px;
}
.codigo{
    margin-top: -65px;
    margin-left: -300px;
}
.disponible{
    margin-top: -70px;
    margin-right: -400px;
}
.enlace1{
    text-align: right;
    margin-right: 40px;
    margin-top: -60px;
}
.enlace2{
    text-align: right;
    margin-right: 40px;
}
.doc{
    color: white;
    background-color: #806653;
    width: 450px;
    height: 80px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 15px;
}
.doc input{
    border-radius: 10px;
}
.link{
    margin-left: 230px;
    margin-top: 20px;
}
.link a{
    color: white;
}
@media (min-width: 500px) and (max-width: 800px){
    .doc{
        flex: 50%;
        max-width: 50%;
    }
}
@media (min-width: 500px) and (max-width: 1000px){
    .lista{
        flex: 100%;
        max-width: 100%;
    }
}
